@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Plus+Jakarta+Sans:wght@600;700;800&family=JetBrains+Mono:wght@500&display=swap');

:root {
  /* Background & Borders */
  --bg-main: #121824;
  --bg-sidebar: #1E2638;
  --bg-surface: #263147;
  --color-border: #32405D;

  /* Accents */
  --accent-primary: #2A7CEE;
  --accent-secondary: #F28729;

  /* Typography */
  --text-primary: #FFFFFF;
  --text-secondary: #94A3B8;
  --text-muted: #64748B;

  /* Urgency Levels */ 
  --urgent: rgb(252, 100, 73);
  --slight-urgent: rgb(244, 244, 133);
  --not-urgent: #2A7CEE;
  

  /* Fonts */
  --font-header: 'Plus Jakarta Sans', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-main);
}

.container {
    display: grid;
    grid-template-columns: 20% auto;
}

nav {
    background-color: var(--bg-sidebar);

    height: 100vh;

    display: grid;
    grid-template-rows: min-content min-content min-content auto;
    

    padding-left: 1rem;
}

nav > .heading {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    gap: 1rem;

    padding-top: 1.5rem;
}

nav > .heading > h1 {
    font-family: var(--font-header);
    font-weight: 700;
    color: var(--text-primary);
    font-size: clamp(1.5rem, 4vw, 2rem);
    letter-spacing: -0.02em;
}

nav > .new {
    width: 93%;
    font-family: var(--font-body);
    font-weight: 500;
    font-size: clamp(0.5rem, 4vw, 1rem);
    color: var(--text-primary);

    padding: 0.5rem;
    margin-top: 2rem;

    border-radius: 8px;
    border: none;
    outline: none;

    background-color: var(--accent-primary);

    cursor: pointer;
}



.list {

    font-family: var(--font-body);
    font-size: clamp(0.75rem, 4vw, 1rem);
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text-secondary);
    padding-bottom: 0.5rem;
}

.categoryButton {
    width: 93%;
    display: grid;
    grid-template-columns: auto min-content;
    

    border-radius: 8px;
    cursor: pointer;

    margin-bottom: 0.5rem;
}

.categoryButton > .categoryname {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: var(--font-body);
    font-size: clamp(0.5rem, 4vw, 0.65rem);
    color: var(--text-primary);
}

.categoryButton > .categoryname > h1{
    padding-left: 0.5rem;
}


.current {
    background-color: var(--text-muted);
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active > h1 {

    background-color: var(--color-border);

    font-family: var(--font-body);
    font-size: clamp(0.5rem, 4vw, 0.75rem);
    font-weight: 500;

    color: var(--text-primary);

    margin-right: 1rem;
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;

    border-radius: 50px;
}

nav > .custom {
    overflow: scroll;
    scrollbar-width: none;
}

nav > .custom > .customHeader {
    display: grid;
    grid-template-columns: min-content auto;
}

nav > .custom > .customHeader > div {
    display: flex;
    align-items: center;
    justify-content: end;
}

nav > .custom > .customHeader > div > button {
    margin-right: 1.75rem;

    border-radius: 100%;
    border: none;
    outline: none;

    background-color: var(--accent-primary);
    color: var(--text-primary);

    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
}

nav > .custom > .categoryButton {
    padding: 0.25rem;
    margin-top: 0.35rem;
}


.preset, .custom {
    margin-top: 2.5rem;
}

img {
    width: 45px;
    height: 45px; 
}

main {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    padding-left: 10rem;
    padding-right: 10rem;
}

main > .mainHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    font-family: var(--font-header);
    font-size: 1.5rem;
    color: var(--text-primary);
}

main > .mainHeading > h3 {
    font-family: var(--font-body);
    font-size: 1rem;

    background-color: var(--accent-primary);
    padding: 0.25rem 0.5rem;
    border-radius: 50px;

    cursor: pointer;
}

main > .tasks {
    margin-top: 1rem;
    padding: 0.5rem 0 0.5rem 0.25rem;

    width: 100%;

    background-color: var(--bg-sidebar);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
}

main > .tasks > .task {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding-top: 0.25rem;
}

main > .tasks > .task > .content {
    display: flex;
    align-items: center;
    justify-content: start;

    flex-direction: row;
}

input[type="checkbox"]{
    height: 1.5rem;
    width: 1.5rem;

    appearance: none;
    background-color: var(--bg-main);

    border: 2px solid var(--bg-surface);
    border-radius: 5px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:checked::after{
    content: "✓";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent-primary);
}

main > .tasks > .task > .content > h1 {
    font-family: var(--font-body);
    font-size: 1.75rem;
    padding-left: 1rem;
    font-weight: 400;
    color: var(--text-primary);
}

main > .tasks > .task > .content > h2 {
    font-family: var(--font-body);
    font-size: 1.25rem;
    font-weight: 400;


    padding-left: 0.5rem;
    color: var(--text-muted);
}

main > .tasks > .task > .urgency {
    display: flex;
    justify-content: end;
    align-items: center;

    width: 100%;
}

main > .tasks > .task > .urgency > .color{
    width: 1rem;
    height: 1rem;

    background-color: var(--urgent);

    border-radius: 100px;
    margin-right: 1rem;

}

.modalbackground {
    width: 100%;
    height: 100vh;

    position: absolute;

    backdrop-filter: blur(10px);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: var(--bg-sidebar);

    width: auto;
    height: auto;

    padding-right: 2rem;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20), 
                0 4px 8px rgba(0, 0, 0, 0.12), 
                0 16px 32px rgba(0, 0, 0, 0.06);

    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

}

.modal > .categorydiv > h1 {
    font-family: var(--font-body);
    font-size: clamp(1.25rem, 4vw, 1.5rem);
    color: var(--text-primary);
    padding: 1rem 0 2rem 1rem;
}

.modal > .categorydiv > div {
    padding-left: 1rem;
    font-family: var(--font-body);
    color: var(--text-primary);
    font-size: clamp(0.25rem, 4vw, 0.55rem);
}

.modal > .categorydiv > div > h2 {
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.modal > .categorydiv > div > input {
    width: 90%;
    padding: 0.5rem;

    border-radius: 8px;
    border: none;
    outline: none;

    background-color: var(--bg-main);
    color: var(--text-primary);
}

.modal > .categorydiv > .IconDiv {
    padding-top: 2rem;
}

.modal > .categorydiv > .IconDiv > .icon {
    border-radius: 10px;
    padding: 0.15rem;
    border: 2px solid var(--color-border);
    margin-left: 0.5rem;
    cursor: pointer;
}

.modal > .categorydiv > .IconDiv > .home {
    margin-left: 0 !important;
}

.modal > .categorydiv > .modalbuttons {
    padding-top: 2rem; 
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.modal > .categorydiv > .modalbuttons > button {
    margin-bottom: 2rem;
    padding: 0.5rem;

    border: none;
    border-radius: 100px;

    font-family: var(--font-body);
    font-weight: 700;
    color: var(--text-primary);
    background-color: var(--accent-primary);
    cursor: pointer;
}

.modal > .categorydiv > .modalbuttons > .cancel {
    background-color: var(--urgent);
}

.modal > .taskdiv > h1 {
    font-family: var(--font-body);
    font-size: clamp(1.25rem, 4vw, 1.5rem);
    color: var(--text-primary);
    padding: 1rem 0 1rem 1rem;
}

.modal > .taskdiv > h2 {
    padding-left: 1rem;
    font-family: var(--font-body);
    color: var(--text-primary);
    font-size: clamp(0.75rem, 4vw, 1rem);
    margin-top: 1rem;
}

.modal > .taskdiv > input#taskName {
    width: 90%;
    padding: 0.5rem;
    margin-left: 1rem;

    border-radius: 8px;
    border: none;
    outline: none;

    background-color: var(--bg-main);
    color: var(--text-primary);
}

.modal > .taskdiv > select {
    width: 97%;
    padding: 0.5rem;

    border-radius: 8px;
    border: none;
    outline: none;

    background-color: var(--bg-main);

    font-family: var(--font-body);
    color: var(--text-primary);

    margin-left: 1rem;
}

.modal > .taskdiv > input#date {
    margin-left: 1rem;
    width: 90%;

    padding: 0.5rem;

    border-radius: 8px;
    border: none;
    outline: none;

    font-family: var(--font-body);
    color: var(--text-primary);

    background-color: var(--bg-main);
}

.modal > .taskdiv > .urgency {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.modal > .taskdiv > .urgency > div {
    width: 2rem;
    height: 2rem;

    border-radius: 100px;
    background-color: var(--accent-primary);

    cursor: pointer;
}

.modal > .taskdiv > .urgency > .slighturgent {
    background-color: var(--slight-urgent);
}

.modal > .taskdiv > .urgency > .urgent {
    background-color: var(--urgent);
}

.modal > .taskdiv > .taskbuttons {
    margin-left: 1rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.modal > .taskdiv > .taskbuttons > button {
    margin-bottom: 2rem;
    padding: 0.5rem;

    border: none;
    border-radius: 100px;

    font-family: var(--font-body);
    font-weight: 700;
    color: var(--text-primary);
    background-color: var(--accent-primary);
    cursor: pointer;
}

.modal > .taskdiv > .taskbuttons > .canceltask {
    background-color: var(--urgent);
}
